@media(max-width:1200px){
    html{
      font-size: 14px;
    }
  }
  
@media(max-width:1024px){
    html{
      font-size: 12px;
    }
  }

  @media(max-width:900px){

    html{
      font-size: 16px;
    }

    .hero{
      height: auto;
    }
    .hero-content{
      flex-direction: column;
      position: static;
      width: 100%;
    }

    .desc{
       position: static;
       width: 100%;
       margin: 0 auto;
    }

    .image{
      position: static;
      width: 100%;
      margin: 0 auto;
    }
  }

  @media(max-width:900px){
    html{
      font-size: 14px;
    }

    .categories-item{
      width: 45%;
      margin-bottom: 2rem;
    }

    .destiny{
      width: 70%;
      margin-bottom: 2rem;
    }

    .trip-text{
      width: 70%;
      margin: 2rem auto;
    }
    .trip-img{
      width: 70%;
      margin: 2rem auto;
      text-align: center;
    }

    .trip-img img{
      width: 90%;
    }

    .links{
      width: 45%;
      margin-bottom: 2rem;
    }
  }

  @media(max-width:768px){

    html{
      font-size: 14px;
    }

    .categories-item{
      width: 70%;
      margin: 0 auto;
    }

    .brand{
      width: 15%;
    }

    .links{
      width: 100%;
    }

    .trip-text{
      width: 100%;
    }
    .trip-img{
      width: 100%;
    }

    .navbar ul li{
      display: none;
    }

    .top-nav{
      margin-bottom: 2rem;
      padding: 1rem;
    }

    .menu{
      display: block;
      cursor: pointer;
    }
    .navbar{
      display: none;
    }

    .navigation{
      width: 100%;
     }
  
     .navigation-bar{
      display: block;
     }

  }

  @media(max-width:500px){
    
    html{
      font-size: 12px;
    }

    .value-text{
      margin-top: 2rem;
    }
  }